<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="repo-build">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5.5p] %m%n" />
    </Console>

    <File name="file" filename="repo-build.log">
      <PatternLayout pattern="[%-5.5p] %date{dd-MM-yyyy HH:mm:ss.SSS Z} [%-5.5t] %m%n" charset="UTF-8" />
    </File>
  </Appenders>

  <Loggers>
    <Logger name="root" level="debug" additivity="false">
      <AppenderRef ref="console" level="info" />
      <AppenderRef ref="file" />
    </Logger>
  </Loggers>
</Configuration>